#tab{
height:40px;
margin-bottom:8px;
}

.dz,.ddd {
padding:5px 0;
overflow:scroll;
background:#f0f0f0;color:black;
}

ul{
margin:0;
padding:0;
}

#tab li {
font-size:15px;
list-style:none;
float:left;
height:30px;
margin-right:5px;
color:#3498db;
line-height:25px;
}

#tab li.active {
color:#FF8C00;
border-bottom:3px solid #FF8C00;
}

button{
outline:none;
height:35px; 
border:3px solid #e9e4e0;
border-radius:8px;
margin-bottom:8px;
background:#e9e4e0;color:black;
vertical-align:middle; 
width:24%;
}

button.upBtn{
border:1px solid #fff;
background-color:#ffffcc; 
}

body{
margin:0;
background-color: #F0F0F0; 
}
ul:not(:first-child){
	overflow:scroll;
	height:400px;
	}