#tab{
height:40px;
margin-bottom:8px;
}

.dz .dd{
padding:5px 0;
overflow:scroll;
background:#1C1B1E;color:#D3D3D3;
}

ul{
margin:0;
padding:0;
}

#tab li {
font-size:15px;
list-style:none;
float:left;
height:30px;
margin-right:5px;
color:#D3D3D3;
line-height:25px;
}

#tab li.active {
color:#FF8C00;
border-bottom:3px solid #FF8C00;
}

button{
outline:none;
height:35px; 
border:3px solid #1C1B1E ;
border-radius:8px;
margin-bottom:8px;
background:#1C1B1E;color:#A9A9A9;
vertical-align:middle; 
width:24%;
}

button.upBtn{
border:1px solid #FF8C00 ;
background-color:#555555; 
}

body{
margin:0;
background-color: #333333; 
}